
<div class="container mt-3">
    <img src="https://s3.eu-west-2.amazonaws.com/parent-documents/assets/parent_logo.png">
    <a href="https://bitbucket.org/parent_api/workspace/snippets/5LaXBq">
        Assessment link
    </a>
    <h2>Welcome to the App!</h2>
    <div class="row mt-4">
      <div class="col-md-6">
        <h4>Upload Page</h4>
        <p>You can upload DataProviderX.json and DataProviderY.json files in the Upload Page.</p>
        <a class="btn btn-primary" routerLink="/upload">Go to Upload Page</a>
      </div>
      <div class="col-md-6">
        <h4>User List Page</h4>
        <p>You can view the list of users in the User List Page.</p>
        <a class="btn btn-primary" routerLink="/users">Go to User List Page</a>
      </div>
    </div>
  </div>